@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h10>@ViewBag.Message</h10>

<p>I am a Senior double majoring in Management Information Systems and Analytics.
    After I graduate in May I will begin my full time job with Deloitte in Columbus, Ohio</p>
