@{
    ViewBag.Title = "Contact me";
}
<h2>@ViewBag.Title.</h2>
<h4>@ViewBag.Message</h4>

<address>
    Matt Donahue
    61 N Congress St<br />
    Athens, Ohio 45701<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
 
    <strong>Business Inquiries:</strong> <a href="mailto:Marketing@example.com">md753815@ohio.edu</a>
</address>